<br>
<br>
<br>
<br>
<p id="alert"><%= alert %></p>
<div>
  <h2 class="nav-title">Log in
  </h2>
  <%= form_tag login_path do |f| %>
    <%= label_tag :name, nil, class: 'mx-1' %>
    <%= text_field_tag :name, nil, class: 'name-input rounded' %>
    <%= submit_tag "Sign in", class: 'btn-submit rounded mt-2 mx-1' %>
  <%end%>
</div>