<div>
  <div>
    <h1>MY GROUPS</h1>
    <%= link_to "Back", user_path(current_user)%>
  </div>
  <p><%= notice %></p>
  <ul>
    <% @groups.each do |group| %>
      <% date = group.created_at.to_date %>
      <%=link_to group_path(group.id) do %>
      <%=image_tag(group_icon(group))%>
      <p><%= group.name %></p>
      <p>Created on <%=format_date(date)%></p> 
      <p>Created by <%=group.user.name%></p>
      <%end%>
    <% end %>
  </ul>

  <%= button_to "New group", new_group_path, method: 'get' %>
</div>