<div>
  
  <img 
  class= "image" 
  src= <%= @group.avatar.attached? ? url_for(@group.avatar) : '/icon.png' %>
  >
  <br><br>
  <h1>Group: <%= @group.name.upcase %></h1>
  <br>
  <h3>Created on: <%= "#{format_date(@group.created_at.to_date)}"%></h3>
  <h3>Created by: <%= @group.user.name%></h3>
  <br>
  <%= link_to "Back", user_path(current_user) %>
</div>

