<div>
  <%= link_to "Back", user_path(current_user)%>
  <img 
  class= "image" 
  src= <%= group_icon(@group) %>
  >
  <br><br>
  <h1>Group: <%= @group.name.upcase %></h1>
  <br>
  <h3>Created on: <%= "#{format_date(@group.created_at.to_date)}"%></h3>
  <h3>Created by: <%= @group.user.name%></h3>
  <br>
  <%= render 'habits/habit_list', {habits: @habits} %>
  <%= link_to 'Add Habit',new_habit_path(group: @group.id), class: 'action-btn' %>
</div>

