<div class="habits">
  <%= render 'common_share/navbar' %>
  <br>
  <br>
  <br>
  <div class="group-icon">
    <img src= <%= group_icon(@group) %>>
  </div>
  <br><br>
  <div class="info-group"> 
    <h2>Group: <%= @group.name%></h2>
    <h4>Created at: <%= "#{format_date(@group.created_at.to_date)}"%></h4>
    <h4>Created by: <%= @group.user.name%></h4>
  </div>
  <br>
  <%= render 'habits/habit_list', {habits: @habits} %>
  <p><%=link_to raw("<span>Add Habit</span>"), new_habit_path(group: @group.id), method: 'get', class: 'new-btn' %></p>
</div>

