<div class="container">

<div class="header">
    <%=image_tag(url_for(user_icons(user)))%>
    <h2><%= @user.name %></h2>
  </div> 

  <ul class="links">
    <li><%= link_to "Habits", habits_path %></li>
    <li><%= link_to "External Habits", external_habits_url %></li>
    <li><%= link_to "Groups", groups_path %></li>
    <li><%= link_to "Edit Account", edit_user_path %></li>
    <li><%= link_to "Log Out", logout_path, method: :delete %></li>
  </ul>
</div>