<div class="container">

<div class="header">
    <img class="profile-picture" src=<%= @user.avatar.attached? ? url_for(@user.avatar) : '/icon.png' %>>
    <h2 class="username"><%= @user.name %></h2>
  </div> 

  <ul class="links">
    <li><%= link_to "Habits", habits_path %></li>
    <li><%= link_to "External Habits", external_habits_path %></li>
    <li><%= link_to "Groups", groups_path %></li>
    <%# <li><%= link_to "Edit Account", edit_user_path %>
    <%# </li>%>
    <li><%= link_to "Log Out", logout_path, method: :delete %></li>
  </ul>

  <%# <%= link_to 'back', events_path, class: 'btn btn-success mt-4'%>

</div>