<p id="notice"><%= notice %></p>

<div class="container">
    <% habits.each do |habit| %>
      <% if habit.user_id == current_user.id %>
        <div class="box mb-2">
          <div class="habit_icon">
            <%=image_tag(url_for(group_icons(habit)))%>
          </div>
          <div class="info">
            <h5 class='item-name'><%= habit.name%></h5>
              <p><%= "Created at #{format_date(habit.created_at.to_date)}"%></p>
              <p><%= "Minutes: #{habit.time} minutes" %></p>
            <% frequency_days(habit.repeat_days).each do |el| %>
              <span class="flex-row"> <%=el%></span>
            <% end %>
          </div>
        </div>
      <%end%> 
    <% end %>
</div>
