<%= form_with(model: @habit, local: true) do |f| %>
<%# <p id="alert"> <%= alert %>
<%# </p> %> 
<div>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :time, "Time:" %>
  <%= f.number_field :time, placeholder: 'Time(minutes)'%>
</div> 
<div>
  <%= f.label :date, "Date:" %>
  <%= f.date_field :date %>
</div>
<div class="field">
    <%= f.label :repeat_day %>
    <%= f.collection_select(:repeat_day, RepeatDay.find(:all), :id, :name, {:include_blank => 'Select how many days'}) %>
</div>
</div>
<div>
  <%= f.submit 'Save' %>
</div>
<% end %>