<%= form_with(model: @habit, local: true) do |f| %>
<%# <p id="alert"> <%= alert %>
<%# </p> %> 
<div>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :time, "Time:" %>
  <%= f.number_field :time, placeholder: 'Time(minutes)'%>
</div> 
  <%= f.submit 'Select frequency' %>
</div>
<% end %>