<%= form_with(model: @habit, local: true) do |f| %>

  <% unless @groups.nil? || @groups.empty? %>
      <div>
        <%= f.label :group_id, "Group:" %>
      </div>
      <div>
        <%= f.collection_select :group_id, Group.order(:name), :id, :name %>
      </div>
  <% end %>

  </br>

  <div>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :time, "Time:" %>
    <%= f.number_field :time, placeholder: 'Time(minutes)'%>
  </div> 
    <%= f.submit 'Select frequency' %>
  </div>
<% end %>