<div>
  <h2 class="nav-title">My Habits:</h2>
  <% habits.each do |habit| %>
    <% if habit.user_id == current_user.id %>
      <div class="info-group">            
        <h5><%= habit.name %></h5>
          <p><%= "Created at: #{format_date(habit.created_at.to_date)}"%></p>
          <p><%= "Minutes: #{habit.time} minutes" %></p>
          <p>Days:<% frequency_days(habit.repeat_days).each do |el| %>
            <%=el%>
          <% end %></p> 
          <p><%="Total time: #{habit.time * habit.repeat_days.count} minutes"%></p>
      </div>
    <%end%>
  <% end %>
</div>


