<div>
<h3>Total Habits:</h3>
  <span><%="#{@total_habits} hours"%></span>
</div>

<% @habits.each do |habit| %>
  <img
  src= <%= "#{
    habit.groups.empty? || !habit.groups.first.avatar.attached? ? 'icon.png' : url_for(habit.groups.first.avatar)
    }" %>
  >
  <div>            
    <h5><%= habit.name %></h5>
      <p><%= "#{format_date(habit.created_at.to_date)}"%></p>
      <p><%= "#{habit.time} minutes" %></p>
  </div>
  <% frequency_days(habit.repeat_days).each do |el| %>
    <%=el%>
  <% end %>
  <%= total_time(habit.repeat_days) << habit.time %>
  
  
<% end %>


