<div>
<h3>Total Habits:</h3>
</div>

<% habits.each do |habit| %>
  <div>            
    <h5><%= habit.name %></h5>
      <p><%= "#{format_date(habit.created_at.to_date)}"%></p>
      <p><%= "#{habit.time} minutes" %></p>
  </div>
  <% frequency_days(habit.repeat_days).each do |el| %>
    <%=el%>
  <% end %> 
  <p>Total time: <%="#{habit.time * habit.repeat_days.count} minutes"%></p>
<% end %>


