<%= render 'common_share/navbar' %>
<br>
<br>
<h1 class="nav-title pt-5">Select Frequency</h1>
<div>
  <label class="my-2">Days:</label><br>
  <%= form_with(model: @habit, local: true) do |f| %>
  <p><%= select_days(@habit, 'monday') %></p><br>
  <p><%= select_days(@habit, 'tuesday') %></p><br>
  <p><%= select_days(@habit, 'wednesday') %></p><br>
  <p><%= select_days(@habit, 'thursday') %></p><br>
  <p><%= select_days(@habit, 'friday') %></p><br>
  <p><%= select_days(@habit, 'saturday') %></p><br>
  <p><%= link_to 'Submit', habits_path, method: :get, class: 'btn-submit rounded'%></p>
  <% end %>
  <br>
</div>
  
  
